<nav class="header__menu" [class.active]="isActive ? true : false">
  <ul class="header__list">
    <li class="header__link" id="Main Page">
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Main Page</a
      >
    </li>
    <li class="header__link" id="Action Set(A)">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Action Set(A)</a
      >
    </li>
    <li class="header__link" id="Action Set(B)">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Action Set(B)</a
      >
    </li>
    <li class="header__link" id="Action Set(C)">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Action Set(C)</a
      >
    </li>
    <li class="header__link" id="Adjective">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Adjective</a
      >
    </li>
    <li class="header__link" id="Animal Set(A)">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Animal Set(A)</a
      >
    </li>
    <li class="header__link" id="Animal Set(B)">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Animal Set(B)</a
      >
    </li>
    <li class="header__link" id="Clothes">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Clothes</a
      >
    </li>
    <li class="header__link" id="Emotion">
      <a [routerLink]="['/content']" routerLinkActive="router-link-active"
        >Emotion</a
      >
    </li>
  </ul>
</nav>
<div
  class="header__burger"
  [class.active]="isActive ? true : false"
  (click)="toggleClassMenuBurger()"
>
  <span></span>
</div>
